:root {
	--grid-width: 600px;
	--accent-color: #dad4ec;
	--inactive-color: #dad4ec;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(
		to top,
		#dad4ec 0%,
		#dad4ec 1%,
		#f3e7e9 100%
	);
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	width: var(--grid-width);
	
}

.top {
	display: flex;
	padding: 3px;
	background-color: white;
	color: var(--inactive-color);
	width: fit-content;
	margin-bottom: 6px;
	border: solid;
}

#sketch-area {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	margin: 100px auto 20px auto;
	box-shadow: 10px 10px rgba(0, 170, 255, 0.034);
}

.cell {
	border: 1px solid whitesmoke;
}

#grid-toggle {
	cursor: pointer;
	
}

#eraser-toggle {
	cursor: pointer;
	
}

#palette-toggle {
	cursor: pointer;
	
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 25px;
	width: 100%;
	background-color: transparent;
	outline: double whitesmoke;
	opacity: 0.7;
	-webkit-trasition: 0.2s;
	transition: opacity 0.2s;
}

#slider-value {
	margin: 0 auto;
	text-align: center;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: var(--accent-color);
	cursor: pointer;
	border: solid whitesmoke;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: var(--accent-color);
	cursor: pointer;
}
