* {
	margin: 0;
	padding: 0;
	
}

body {
	background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
	
}

#sketch-area {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	margin: 100px auto;
	box-shadow: 10px 10px rgba(0, 170, 255, 0.034);
}

.cell {
	border: 1px solid whitesmoke;
}
